<h1 class="mt-5 mb-4 text-center">Register User</h1>

<form action="/register" method="post">
    <div class="mb-3">
        <input type="text" class="form-control" placeholder="User Name" id="userId" name="userId" >
    </div>
    <div class="mb-3">
        <input type="text" class="form-control" placeholder="Name" id="name" name="name" >
    </div>
    <div class="mb-3">
        <input type="email" class="form-control" placeholder="Email Address" id="email" name="email">
    </div>
    <div class="mb-3 w-50">
        <input type="password" class="form-control" name="password" id="password" placeholder="Password">
    </div>
    <button type="submit" class="btn btn-primary">Register</button>
</form>